<footer class="footer">
	<small>
		Universidad de Jaén 2015-16, TFG por David Abad Vich
	</small>
	<nav>
		<ul>
			<li><%= link_to "Contacto", about_path %></li>
			<li>Ruby on Rails</li>
		</ul>
	</nav>
</footer>